.rc-mentions {
  display: inline-block;
  position: relative;
  white-space: pre-wrap;
  width: 100%;
}

.rc-mentions > textarea,
.rc-mentions-measure {
  font-size: inherit;
  font-size-adjust: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-stretch: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 0;
  margin: 0;
  line-height: inherit;
  vertical-align: top;
  overflow: inherit;
  word-break: inherit;
  white-space: inherit;
  word-wrap: break-word;
  overflow-x: initial;
  overflow-y: auto;
  text-align: inherit;
  letter-spacing: inherit;
  tab-size: inherit;
  direction: inherit;
}

.rc-mentions > textarea {
  border: 1px solid #d9d9d9;
  width: 100%;
  height: 6.25rem !important;
  resize: none;
  outline: none;
  padding: 8px;
}

.rc-mentions-measure {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  bottom: 0;
  pointer-events: none;
  color: transparent;
  z-index: 999998;
}

.rc-mentions-dropdown {
  position: absolute;
  z-index: 999999;
  top: 100%;
  left: 0;
  width: fit-content; /* Full width of parent */
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fff;
}

.rc-mentions-dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rc-mentions-dropdown-menu-item {
  cursor: pointer;
  padding: 4px 8px;
}

.rc-mentions-dropdown-menu-item-active {
  background: #ffeded;
}

.rc-mentions-dropdown-menu-item-disabled {
  opacity: 0.5;
}
