@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply fmtm-text-[#475467];
  }
  h1 {
    @apply fmtm-text-[3.625rem] fmtm-font-bold fmtm-tracking-normal;
  }
  h2 {
    @apply fmtm-text-[2.375rem] fmtm-font-bold fmtm-tracking-normal;
  }
  h3 {
    @apply fmtm-text-[1.625rem] fmtm-font-bold fmtm-tracking-normal;
  }
  h4 {
    @apply fmtm-text-[1.25rem] fmtm-font-semibold fmtm-tracking-normal;
  }
  h5 {
    @apply fmtm-text-[1.063rem] fmtm-font-bold fmtm-tracking-normal;
  }
}

@layer components {
  .fmtm-body-lg {
    @apply fmtm-text-[1rem] fmtm-leading-normal fmtm-font-normal;
  }
  .fmtm-body-lg-medium {
    @apply fmtm-text-[1rem] fmtm-leading-normal fmtm-font-medium fmtm-tracking-[0.02rem];
  }
  .fmtm-body-lg-semibold {
    @apply fmtm-text-[1rem] fmtm-leading-normal fmtm-font-semibold;
  }
  .fmtm-body-md {
    @apply fmtm-text-[0.875rem] fmtm-leading-normal fmtm-font-normal;
  }
  .fmtm-body-md-semibold {
    @apply fmtm-text-[0.875rem] fmtm-leading-[1.25rem] fmtm-font-semibold;
  }
  .fmtm-button {
    @apply fmtm-text-[0.875rem] fmtm-leading-normal fmtm-font-semibold fmtm-tracking-[0.018rem];
  }
  .fmtm-body-sm {
    @apply fmtm-text-[0.75rem] fmtm-leading-normal fmtm-font-normal;
  }
  .fmtm-body-sm-semibold {
    @apply fmtm-text-[0.75rem] fmtm-leading-[0.9rem] fmtm-font-semibold;
  }

  .fmtm-chips {
    @apply fmtm-text-[0.75rem] fmtm-leading-normal fmtm-font-medium;
  }
  .fmtm-tooltip {
    @apply fmtm-text-[0.625rem] fmtm-leading-[0.625rem] fmtm-font-semibold;
  }
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: transparent;
      margin-block: 3px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
      background: #bdbdbd;
      border-radius: 100vh;
      padding-inline: 2px;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #bdbdbd;
    }
  }
}
