# Copyright (c) Humanitarian OpenStreetMap Team
# This file is part of Field-TM.
#
#     Field-TM is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     Field-TM is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with Field-TM.  If not, see <https:#www.gnu.org/licenses/>.
# 

# Distribution / packaging
.Python
env/
build/
!contrib/just/build
develop-eggs/
dist/
dev-dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/

__pycache__
credentials.txt
odk2odm_venv/

# PyCharm
.idea/

# test scripts and files
db.sqlite3

# emacs
*~

# mac
.DS_Store

# ignore settings
**/*.env

# ignore python environments
venv

# project related
temp_webmaps/local_only
temp_webmaps/Naivasha

# node & pnpm
**/**/node_modules
**/**/package-lock.json
**/**/yarn.lock
**/**/.pnpm-store

# pdm (legacy)
**/**/.pdm.toml
**/**/pdm.toml
**/**/.pdm-python
**/**/__pypackages__

# mkdocs
site
docs/apidocs
coverage
**/**/coverage*

# Bash install script
envsubst

# Scripts
**/openapi.json

# Chart dependencies
chart/charts

# Secrets / keys
**/**/*.pem

# Paraglide dynamic translation
src/translations/**/*

# Favicon for inject into frontends
src/frontend/public/favicon.svg
src/frontend/public/favicon.png
src/mapper/static/favicon.svg
src/mapper/static/favicon.png
