{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Projects{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('project.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% if g.user['id'] %}
    <h1 class='highlighted-action'>My tasks</h1>
    {% for task in tasks %}
      <article class="project">
        <header>
          <div>
            <!-- TODO remove hardcoding -->
            <div class="about">Task {{ task['task_number'] }} was selected by {{ task['username'] }} on {{ task['last_selected'].strftime('%Y-%m-%d') }}</div>
          </div>
          <a class="action" href="{{ url_for('project.map', id=task['project_id'])}}">See Project</a>
        </header>
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}

    <h1 class='highlighted-action'>Open Projects</h1>
  {% endif %}
  {% for project in projects %}
    <article class="project">
      <header>
        <div>
          <!-- TODO remove hardcoding -->
          <h1>{{ project['title'] }}</h1>
	  <div class="about">by {{ g.user['username'] }} on {{ project['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        <a class="action" href="{{ url_for('project.map', id=project['id'])}}">Select Task</a>
        {% if g.user['id'] == project['author_id'] %}
          <a class="action" href="{{ url_for('project.update', id=project['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="description">{{ project['description'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <br>
{% endblock %}
