{% extends 'base.html' %}

{% block header %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <h1>{% block title %}Pick Task for "{{ project['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- {% if msg %}
    <p id="quick_view">{{msg}}</p>
  {% endif %} -->

  <div id="map"></div>

  <!-- <form method="post">
    <label for="task">Task ID</label>
    <input name="task_id" id="task_id"
      value="{{ request.form['task'] }}" required>
    <input type="submit" value="Select">
  </form> -->

  <h1>Project tasks</h1>
  {% for task in tasks %}
    <article class="project">
      <header>
        <div>
          <h2>Task {{ task['feature_id'] }}</h2>
          {% if task['status'] != 'available' %}
            <div class="about">by {{ task['username'] }}</div>
          {% endif %}  */}}
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}



  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>

  <script>

    var grid_geojson = {{(geojson|default({}))|tojson}};
    var tasks = {{(tasks|default({}))|tojson}};

    function hardcodedMap() {
      const map = L.map("map").setView([-6.785568, 39.261278], 13);
      const osm = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          maxZoom: 19,
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }
      ).addTo(map);

      grid = addGeoJSONLayer(map)

      // zoomToProject
      // TODO: Does this work??
      // map.fitBounds(grid.getBounds());
    }

    function createPopup(feature, layer) {
      if (feature.properties && feature.properties.id) {
        feature_id = feature.properties.id;
        task = tasks[feature_id];

        // this should be set by the same environment variable as PROJECT_FOLDER_PATH
        qrcode_src = "{{url_for('static', filename=project_path+'/QR_codes/')}}";
        // hacky way to combine javascript and flask logic
        final_qrcode_src = qrcode_src+"buildings_"+feature_id+".gif";

        if (task.status != 'Available for mapping') {
        // TODO: add check for if this user created this
        //if g.user['id'] == task['task_doer']
          layer.setStyle({fillColor:'blue',color: 'black',weight:2,fillOpacity:0.8});
          layer.bindPopup(
            "<h1>Task "+feature_id+"</h1>"+
            "<p>" + task.status + "</p>"+
            "<img src='"+final_qrcode_src+"' alt='' height='150px' width='150px'>"+
            // "<a class='action' href=''>Task has been completed</a>"+
            "<form action='{{url_for('project.release', id=project['id']) }}"+ "method='post'>"+
              "<input style=\"display:none;\" name='tasknum' id='tasknum'"+
                "value='"+feature_id+"' required>"+
              "<input class='danger' type='submit' value='Release' onclick='return confirm(\'Are you sure?\');'>"+
            "</form>"
          )
        //}
      } else {
          layer.bindPopup(
            "<h1>Task "+feature_id+"</h1>"+
            "<p>" + task.status + "</p>"+
            "<p>To start field mapping, scan the QR Code using ODK Collect and click 'Assign me this task', so that no one duplicates your work! If you are on your mobile device, select 'Download QR Code'.</p>"+
            "<img src='"+final_qrcode_src+"' alt='' height='150px' width='150px'>"+
            "<form method='post'>"+
              "<input style=\"display:none;\" name='tasknum' id='tasknum'"+
                "value='"+feature_id+"' required>"+
              "<label for='id_"+feature_id+"'>Download QR Code</label>"+
              "<input type='checkbox' id='id_"+feature_id+"'"+ "name='select_extras' value='download'>"+
              "<input type='submit' value='Assign me this Task'>"+

            "</form>"
          )
        }
      }
    }

    function addGeoJSONLayer(map) {
      layer = L.geoJSON(grid_geojson, {
        onEachFeature: createPopup
      });
      layer.addTo(map);
      return layer;
    }

    hardcodedMap()

  </script>
{% endblock %}
