{% extends 'base.html' %}

{% block header %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <h1>{% block title %}Pick Task for "{{ project['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if msg %}
    <p id="quick_view">{{msg}}</p>
  {% endif %}

  <div id="map"></div>

  <h1>Project tasks</h1>
  {% for task in tasks.values() %}
    <article class="project">
      <header>
        <div>
          <h2>Task {{ task.id }}</h2>
          {% if task.status.value != 'available' %}
            <div class="about">Status: {{task.status.label}} ({{ task.task_doer }})</div>
          {% endif %}  
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}



  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>

  <script>
    var grid_geojson = {{(geojson|default({}))|tojson}};
    var tasks = {{(tasks|default({}))|tojson}};
    var project_title = '{{project['title']}}'
    var user_id = '{{userid}}'

    function setMap() {
      const map = L.map("map");
      const osm = L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }
      ).addTo(map);

      // zoom to map
      grid = addGeoJSONLayer(map)
      map.fitBounds(grid.getBounds());
    }

    function getStyle(statusValue) {
      bg = 'rgb(216, 218, 228)' // set to unavailable
      switch(statusValue) {
        case 'available':
          bg = 'rgb(255, 255, 255)'
          break;
        case 'unavailable':
          bg = 'rgb(216, 218, 228)'
          break;
        case 'readyforvalidation':
          bg = 'rgb(173, 230, 239)'
          break;
        default:
          bg = 'rgb(216, 218, 228)' //set to unavailable
          break;
      }

      return {color: '#e1e0e0',
        weight: 1,
        fillOpacity:0.8,
        fillColor: bg
      }
    } 

    first = 0

    function createPopup(feature, layer) {
      if (feature.properties && feature.properties.id) {
        feature_id = feature.properties.id;
        task = tasks[feature_id];
        qrcode_src = "{{url_for('static', filename=project_path+'/QR_codes/')}}";
        final_qrcode_src = qrcode_src+"buildings_"+feature_id+".gif";

        layer.setStyle(getStyle(task.status.value))

        switch(task.status.value) {
          case 'available':
            layer.bindPopup(
                `<h1>Task ${feature_id}</h1>
                <p>${task.status.label}</p>
                <p>To start field mapping, scan the QR Code using ODK Collect and click 'Assign me this task'. If you are on your mobile device, you can download the QR Code for use in ODK.</p>
                <img src='${final_qrcode_src}' alt='' height='150px' width='150px'>

                <form method='post'>
                  <input style=\"display:none;\" name='taskid' id='taskid'
                    value=${task.id} required>
                  <input style=\"display:none;\" name='qrcode' id='qrcode'
                    value='yes' required>
                  <input type='submit' value='Download QR Code'>
                </form>

                <form method='post'>
                  <input style=\"display:none;\" name='taskid' id='taskid'
                    value=${task.id} required>
                  <input style=\"display:none;\" name='newstatus' id='newstatus'
                    value="Unavailable" required>
                  <input style=\"display:none;\" name='qrcode' id='qrcode'
                    value='no' required>
                  <input type='submit' value='Just assign me this Task'>
                </form>`
            )
            break;
          case 'unavailable': 
            if (user_id == task.task_doer) {
              layer.bindPopup(
                `<h1>Task ${feature_id}</h1>
                <p>Status: ${task.status.label}</p>
                
                <img src='${final_qrcode_src}' alt='' height='150px' width='150px'>

                <form method='post'>
                  <input style=\"display:none;\" name='taskid' id='taskid'
                    value=${task.id} required>
                  <input style=\"display:none;\" name='qrcode' id='qrcode'
                    value='yes' required>
                  <input type='submit' value='Download QR Code'>
                </form>
                `
              )
            } 
            break; 
          default:
            layer.bindPopup(
              `<h1>Task ${feature_id}</h1>
              <p>${task.status.label}</p>
              <p>${task.task_doer}</p>
              `
            )
            
        }
      }
    }

    function addGeoJSONLayer(map) {
      layer = L.geoJSON(grid_geojson, {
        onEachFeature: createPopup
      });
      layer.addTo(map);
      return layer;
    }

    setMap()

  </script>
{% endblock %}
