{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ project['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or project['title'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] or project['description'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('project.delete', id=project['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
