body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.sweet-loading{
  position: absolute;
  top: 50%;  
  z-index: 5;
  transform: translate(-50%, -50%);
}

.notFound{
  height: 93vh;
  overflow: auto;
}

.btnLogin,
btnSignUp {
  width: 100px;
}

.dropdown {
  width: 100%;
}

.dropdown-item {
  width: 100%;
}

.dropdown-trigger {
  width: 100%;
}

button {
  width: 100%;
}

.leaflet-container {
  width: '100%';
  height: 100vh;
}

.content {
  height: 81vh;
  overflow: auto;
  padding: 5px
}

@font-face {
  font-family: "BarlowBold";
  src: local("BarlowBold"),
    url("./assets/fonts/Barlow/Barlow-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowMedium";
  src: local("BarlowMedium"),
    url("./assets/fonts/Barlow/Barlow-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ArchivoBold";
  src: local("ArchivoBold"),
    url("./assets/fonts/Archivo/Archivo/Archivo-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ArchivoRegular";
  src: local("ArchivoRegular"),
    url("./assets/fonts/Archivo/Archivo/Archivo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ArchivoMedium";
  src: local("ArchivoMedium"),
    url("./assets/fonts/Archivo/Archivo/Archivo-Medium.ttf") format("truetype");

}

@font-face {
  font-family: "ArchivoLight";
  src: local("ArchivoLight"),
    url("./assets/fonts/Archivo/Archivo/Archivo-Light.ttf") format("truetype");

}

.swiper-button-next,
.swiper-button-prev {
  color: #44546a !important;
  fill: #44546a !important;
  stroke: #44546a !important;
}

.legend-container{
  background-color: white;
  width: 14rem;
  padding: 7px;
  margin: 275px 10px;
  border-radius: 4px;
}

.legend {
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-between;
}

.legend-text {
  margin-right: 10px;
}

.legend-square {
  width: 20px;
  height: 20px;
  background-color: red;
}