# Copyright (c) 2022, 2023 Humanitarian OpenStreetMap Team
#
# This file is part of FMTM.
#
#     FMTM is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     FMTM is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with FMTM.  If not, see <https:#www.gnu.org/licenses/>.
#

[project]
name = "fmtm"
dynamic = ["version"]
description = "Field mapping tasking manager"
authors = [
    {name = "HOTOSM", email = "sysadmin@hotosm.org"},
]
dependencies = [
    "uvicorn>=0.23.2",
    "fastapi>=0.103.0",
    "pydantic>=2.3.0",
    "pydantic-settings>=2.0.3",
    "geojson-pydantic>=1.0.0",
    "python-multipart>=0.0.6",
    "sqlalchemy>=2.0.21",
    "SQLAlchemy-Utils>=0.41.1",
    "psycopg2>=2.9.7",
    "geoalchemy2>=0.14.1",
    "geojson>=3.0.1",
    "shapely>=2.0.1",
    "pyxform>=1.12.1",
    "qrcode>=7.4.2",
    "xmltodict>=0.13.0",
    "segno>=1.5.2",
    "sentry-sdk>=1.30.0",
    "py-cpuinfo>=9.0.0",
    "loguru>=0.7.0",
    "osm-login-python==1.0.1",
    "osm-fieldwork==0.3.7",
    "osm-rawdata==0.1.5",
    "minio>=7.1.17",
    "pyproj>=3.6.1",
    "asgiref>=3.7.2",
]
requires-python = ">=3.10,<3.12"
readme = "../../README.md"
license = {text = "GPL-3.0-only"}

[build-system]
requires = ["pdm-pep517>=1.0.0"]
build-backend = "pdm.pep517.api"

[tool.pdm]
source-includes = ["../../CHANGELOG.md", "../../LICENSE", "../../README.md"]
version = {from = "app/__version__.py"}
[tool.pdm.dev-dependencies]
dev = [
    "pre-commit>=3.3.3",
    "black>=23.7.0",
    "commitizen>=3.6.0",
]
test = [
    "pytest>=7.2.2",
    "httpx>=0.23.3",
    "pytest-asyncio>=0.21.1",
]
debug = [
    "ipdb>=0.13.13",
    "debugpy>=1.6.7.post1",
]
docs = [
    "mkdocs>=1.5.2",
    "mkdocs-material>=9.2.6",
    "mkdocstrings-python>=1.6.0",
    "mkdocs-exclude>=1.0.2",
    "python-dotenv>=1.0.0",
]

[tool.black]
line-length = 88
target-versions = ["py310", "py311"]

[tool.ruff]
target-version = "py310"
line-length = 88
select = ["I", "E", "W", "D", "B", "F", "N", "Q"]
ignore = ["N805", "B008"]
exclude = [
    ".ruff_cache",
    "__pypackages__",
    "app/__version__.py",
]
[tool.ruff.pydocstyle]
convention = "google"
[tool.ruff.flake8-bugbear]
extend-immutable-calls = [
    "fastapi.Depends",
    "fastapi.params.Depends",
    "fastapi.Query",
    "fastapi.params.Query",
    "fastapi.File",
    "fastapi.Security",
]

[tool.pytest.ini_options]
addopts = "-ra -q"
testpaths = [
    "tests",
]
asyncio_mode="auto"

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.1.0"
version_files = [
    "pyproject.toml:version",
    "app/__version__.py",
    "../frontend/package.json:version",
]
changelog_file = "../../CHANGELOG.md"
update_changelog_on_bump = true
