# Copyright (c) 2020, 2021, 2022 Humanitarian OpenStreetMap Team
#
# This file is part of FMTM.
#
#     FMTM is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     FMTM is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with FMTM.  If not, see <https:#www.gnu.org/licenses/>.
#

# ----- FASTAPI -----
fastapi==0.85.1 
pydantic==1.10.2
geojson-pydantic==0.4.3
uvicorn==0.19.0 

# ----- DATABASE -----
fastapi-sqlalchemy==0.2.1
psycopg2==2.9.3
# psycopg2-binary==2.9.3
geoalchemy2==0.12.5
alembic==1.8.1
sqlmodel==0.0.8
geojson==2.5.0
shapely==1.8.5
OSMPythonTools==0.3.5

# ----OSM LOGIN -----
osm-login-python==0.0.4

# ---- ODK ----
# pyodk==0.1.0
pyxform==1.12.0
qrcode==7.4.2
pyxform==1.12.0
xmltodict==0.13.0
git+https://github.com/hotosm/odkconvert#odkconvert

# ----- FILE UPLOAD ----
python-multipart==0.0.5

# ----- LOGGING -----
python-json-logger==2.0.6
