{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.22"
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "import",
      { "libraryName": "@mui/material", "libraryDirectory": "", "camel2DashComponentName": false },
      "@mui/material"
    ],
    [
      "import",
      { "libraryName": "@mui/icons-material", "libraryDirectory": "", "camel2DashComponentName": false },
      "@mui/icons-material"
    ],
    [
      "import",
      { "libraryName": "@mui/material/colors", "libraryDirectory": "", "camel2DashComponentName": false },
      "@mui/material/colors"
    ]
    // [
    //   "import",
    //   { "libraryName": "react-redux", "libraryDirectory": "", "camel2DashComponentName": false },
    //   "react-redux"
    // ],
    // [
    //   "import",
    //   { "libraryName": "swiper", "libraryDirectory": "", "camel2DashComponentName": false },
    //   "swiper"
    // ]
  ]
}
