.activities {
	--at-apply: overflow-y-scroll overflow-x-hidden flex flex-col gap-2 pb-2;
}

.activities .header {
	--at-apply: flex justify-center mt-10;
}

.activities .header p {
	--at-apply: text-neutral-900 text-base;
}

.activities .event {
	--at-apply: flex flex-col gap-2 py-3 bg-neutral-50 rounded-md mr-1;
}

.activities .event-content {
	--at-apply: flex gap-4 px-3;
}

.activities .event-content .icon {
	--at-apply: text-[1.7rem] text-primary-600 cursor-pointer duration-200 rounded-full p-[2px] bg-white;
}

.activities .event-content .detail {
	--at-apply: flex flex-col gap-1 flex-1;
}

.activities .event-content .detail .username {
	--at-apply: font-semibold capitalize;
}

.activities .event-content .detail .meta {
	--at-apply: flex items-center justify-between;
}

.activities .event-content .detail .meta .task-id {
	--at-apply: text-neutral-900 text-sm;
}

.activities .event-content .detail .meta .history {
	--at-apply: flex items-center gap-2;
}

.activities .event-content .detail .meta .icon {
	--at-apply: text-[1rem] text-primary-600 cursor-pointer duration-200;
}

.activities .event-content .detail .meta .created-at {
	--at-apply: text-neutral-900 text-sm;
}

.activities .event-more {
	--at-apply: px-3 flex items-center fmtm-justify-between gap-2;
}

.activities .event-more .username {
	--at-apply: font-normal text-neutral-900 flex-1;
}

.activities .event-more .icon {
	--at-apply: text-[1rem] text-neutral-900 hover: text-primary-600 cursor-pointer duration-200;
}
