.spinner {
	--at-apply: h-full flex flex-col justify-center items-center;
}

.spinner sl-spinner {
	font-size: 4rem;
	--track-width: 4px;
}

.spinner h2 {
	--at-apply: font-barlow text-neutral-600 font-semibold;
}
