.basemaps {
	--at-apply: flex flex-col items-center p-4 space-y-4 font-barlow;
}

.basemaps .text-above {
	--at-apply: text-center w-full;
}

.basemaps .text-above .basemaps-content {
	--at-apply: font-bold text-lg font-medium;
}

.basemaps .text-above .basemaps-content span {
	--at-apply: mr-1;
}

.basemaps .selector {
	--at-apply: flex justify-center w-full max-w-sm;
}

.basemaps .no-basemaps-available {
	--at-apply: text-center w-full;
}

.basemaps .no-basemaps-available .msg1 {
	--at-apply: text-sm font-medium;
}
.basemaps .no-basemaps-available .msg2 {
	--at-apply: text-sm font-medium pt-2;
}

.basemaps .button {
	--at-apply: secondary w-full max-w-[200px];
}

.basemaps .button .icon {
	--at-apply: text-[1rem] text-primary-900 cursor-pointer duration-200;
}

.basemaps .button span {
	--at-apply: font-barlow font-medium text-base uppercase;
}

.basemaps .progress-container {
	width: 80%;
	margin-top: 0.5rem;
}
