.sheet-container {
	--at-apply: z-30 bottom-sheet fixed w-[100vw] left-0 bottom-0 flex items-center flex-col justify-end duration-100
		ease-linear z-20 pointer-events-none;
}

.sheet-container .sheet-container-content {
	--at-apply: shadow-[0px_-10px_10px_5px_rgba(0, 0, 0, 0.05)] w-full relative bg-white max-h-[100vh] h-[50vh]
		max-w-[100vw] pb-6 duration-300 ease-in-out overflow-hidden md: max-w-[580px] lg: max-w-[750px] pointer-events-auto;
	border-radius: 50px 50px 0 0;
}

.sheet-container .sheet-container-content .action {
	border-top-left-radius: 1rem;
	--at-apply: flex justify-center py-4 sm: py-8 cursor-grab select-none w-full;
}

.sheet-container .sheet-container-content .action span {
	--at-apply: h-[6px] w-[3.25rem] block bg-neutral-100 rounded-full pointer-events-none;
}

.sheet-container .sheet-container-content .body {
	--at-apply: overflow-y-scroll scrollbar h-[calc(100%-5rem)] sm: h-[calc(100%-6.7rem)] px-4 relative;
}
