.comments {
	--at-apply: h-[calc(100%-2.25rem)] sm: h-[calc(100%-2.6rem)];
}

.comments .comments-content {
	--at-apply: overflow-y-scroll overflow-x-hidden flex flex-col gap-2;
}

.comments .comments-content.selected {
	--at-apply: h-[calc(100%-11.875rem)];
}

.comments .comments-content.not-selected {
	--at-apply: h-[100%];
}

.comments .no-comments {
	--at-apply: flex justify-center mt-10;
}

.comments .no-comments p {
	--at-apply: text-neutral-900 text-base;
}

.comments .comment {
	--at-apply: flex flex-col gap-2 py-3 bg-neutral-50 rounded-md;
}

.comments .comment .wrapper {
	--at-apply: flex gap-4 px-3;
}

.comments .comment .icon {
	--at-apply: text-[1.7rem] text-primary-600 cursor-pointer duration-200 rounded-full p-[2px] bg-white border-1
		border-solid;
}

.comments .comment .details {
	--at-apply: flex flex-col gap-1 flex-1;
}

.comments .comment .details .username {
	--at-apply: font-semibold capitalize;
}

.comments .comment .details .meta {
	--at-apply: flex items-center justify-between;
}

.comments .comment .details .task-id {
	--at-apply: text-neutral-900 text-sm;
}

.comments .comment .details .history {
	--at-apply: flex items-center gap-2;
}

.comments .comment .details .history .icon {
	--at-apply: text-[1rem] text-primary-600 cursor-pointer duration-200;
}

.comments .comment .details .history .created-at {
	--at-apply: text-neutral-900 text-sm;
}

.comments .add-comment {
	--at-apply: mt-2;
}

.comments .add-comment .wrapper {
	--at-apply: w-full flex justify-end my-2 gap-2;
}

.comments .add-comment .wrapper .button-clear {
	--at-apply: secondary col-span-2 sm: col-span-1;
}

.comments .add-comment .wrapper .button-clear span,
.comments .add-comment .wrapper .button-comment span {
	--at-apply: font-barlow text-sm;
}

.comments .add-comment .wrapper .button-comment {
	--at-apply: col-span-2 sm: col-span-1;
}
