.dialog-task-actions {
	--at-apply: flex justify-center w-[100vw] absolute bottom-[4rem] left-0 pointer-events-none z-50 font-barlow;
}

.dialog-task-actions .content {
	--at-apply: bg-white w-full font-regular md: max-w-[580px] pointer-events-auto px-4 py-3 sm: py-4 rounded-t-3xl;
}

.dialog-task-actions .icon {
	--at-apply: flex justify-end;
}

.dialog-task-actions .icon hot-icon {
	--at-apply: text-[1.5rem] text-neutral-800 cursor-pointer hover: text-primary-600 duration-200;
}

.task-action-dialog .dialog-text {
	--at-apply: font-normal text-center text-neutral-800 mb-4;
}

.task-action-dialog .dialog-text .text-highlight {
	--at-apply: text-primary-600 font-bold;
}

.task-action-dialog .button-wrapper {
	--at-apply: flex items-center justify-center gap-x-3;
}

.dialog-task-new-feature {
	--at-apply: flex justify-between items-center;
}

.dialog-task-new-feature .task-index {
	--at-apply: text-neutral-950 text-xl font-semibold;
}

.dialog-task-new-feature .icon {
	--at-apply: flex items-center gap-1 cursor-pointer group;
}

.dialog-task-new-feature .icon hot-icon {
	--at-apply: text-[1.25rem] duration-200 text-neutral-950 font-light group-hover: text-black;
}

.dialog-task-new-feature p.action {
	--at-apply: uppercase text-[0.813rem] text-primary-600 group-hover: text-primary-700;
}

.dialog-task-new-feature .unlock-selected,
.dialog-task-new-feature .lock-selected {
	--at-apply: my-4 sm: my-6;
}

.dialog-task-actions .unlock-actions {
	--at-apply: flex gap-x-2 mt-4;
}

.dialog-task-new-feature .unlock-actions span {
	--at-apply: font-barlow font-medium text-sm;
}

.dialog-task-new-feature .unlock-actions hot-icon {
	--at-apply: text-[1rem] text-white cursor-pointer duration-200;
}

.dialog-task-new-feature .lock-actions {
	--at-apply: grid grid-cols-2 sm: grid-cols-3 gap-2;
}

.dialog-task-new-feature .lock-actions hot-icon {
	--at-apply: text-[1rem] text-primary-600 cursor-pointer duration-200 hover: text-primary-900;
}

.dialog-task-new-feature .lock-actions span {
	--at-apply: font-barlow font-medium text-sm;
}
