/* Tiptap */

.tiptap {
	outline: none !important;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 100%;
	overflow-y: scroll;
}

@media screen and (max-width: 500px) {
	.tiptap {
		overflow-y: scroll;
	}
}

.tiptap code {
	background-color: rgba(97, 97, 97, 0.1);
	color: var(--sl-color-neutral-700);
}

.tiptap pre {
	background: var(--sl-color-neutral-1000);
	color: var(--sl-color-neutral-0);
	font-family: 'JetBrainsMono', monospace;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
}
.tiptap pre code {
	color: inherit;
	padding: 0;
	background: none;
	font-size: 0.8rem;
}

.tiptap img {
	max-width: 100%;
	height: auto;
}

.tiptap blockquote {
	padding-left: 1rem;
	border-left: 2px solid var(--sl-color-neutral-200);
}

.tiptap hr {
	border: none;
	border-top: 1px solid var(--sl-color-neutral-200);
	margin: 1.5rem 0;
}

.tiptap a {
	color: var(--sl-color-primary-700);
	text-decoration: underline;
	cursor: pointer;
}

.tiptap iframe {
	border: 8px solid var(--sl-color-neutral-0);
	border-radius: 4px;
	min-width: 200px;
	min-height: 200px;
	display: block;
	outline: 0px solid transparent;
}

.tiptap div[data-youtube-video] {
	cursor: move;
	padding-right: 24px;
}

.tiptap .ProseMirror-selectednode iframe {
	transition: outline 0.15s;
	outline: 6px solid var(--sl-color-warning-400);
}

/* Editor */

.editor {
	--at-apply: rounded-md;
}

.editor.editable {
	border: 1px solid var(--sl-color-neutral-0);
}

.editor.editable .bottom {
	--at-apply: h-[80px] overflow-y-scroll pt-[3px];
}

.editor.non-editable .bottom {
	--at-apply: h-full;
}

/* Toobar */

.toolbar {
	border-bottom: 1px solid var(--sl-color-neutral-0);
	--at-apply: items-center gap-2 px-2 py-1 flex-wrap;
}

.toolbar .icon {
	--at-apply: text-[1.2rem] text-neutral-800 hover: bg-rose-50 p-[2px] rounded cursor-pointer duration-200;
}

.toolbar hot-icon.active {
	background: var(--sl-color-primary-50);
	color: var(--sl-color-primary-500);
}

.toolbar sl-tooltip {
	font-size: 10px;
}
