.forms-wrapper-drawer {
	--size: 100vw;
	--header-spacing: 0px;
	--at-apply: drawer-contained drawer-placement-start drawer-overview;
}

.forms-wrapper-drawer iframe {
	--at-apply: height: 100%;
	width: 100%;
	z-index: 11;
}

#odk-web-forms-drawer::part(panel) {
	z-index: 11;
}
#odk-web-forms-drawer::part(body) {
	padding: 0;
}
