/* Header */

.header {
	--at-apply: p-3 flex items-center justify-between font-barlow;
}

/* Logo */

.header .logo {
	--at-apply: flex items-center gap-1;
}

.header .logo img {
	--at-apply: w-[4.188rem] sm: w-[4.188rem];
}

.header .logo-text {
	color: var(--sl-color-primary-700);
	font-family: var(--sl-font-sans);
	--at-apply: text-sm sm: text-base font-bold text-primary-600 h-[2.2rem] sm: h-[3rem] max-w-[6rem] sm: max-w-[8rem] p-0
		m-0 flex items-center justify-center leading-[1.1] sm: leading-[1.2] text-left;
}

/* Navigation */

.header .nav {
	--at-apply: flex items-center gap-4;
}

.header .user {
	--at-apply: flex items-center gap-2;
}

.header .user hot-icon {
	--at-apply: text-[1.5rem] leading-0 cursor-pointer duration-200;
	color: var(--sl-color-primary-700);
}

.header .user img {
	--at-apply: w-[1.8rem] h-[1.8rem] min-w-[1.8rem] min-h-[1.8rem] max-w-[1.8rem] max-h-[1.8rem] rounded-full;
}

.header .user .username {
	--at-apply: font-medium text-sm sm: text-base text-ellipsis whitespace-nowrap overflow-hidden max-w-[6rem]
		sm: max-w-fit;
}

.header .login-link {
	--at-apply: hover: bg-gray-50 rounded;
}

.header .login-link span {
	--at-apply: font-barlow font-medium text-base;
}

.header .drawer-icon {
	--at-apply: text-[1.8rem] text-neutral-800 leading-0 cursor-pointer hover: text-primary-600 duration-200;
}

.header .drawer-icon-firstload {
	background-color: var(--sl-color-warning-300);
}

.drawer-overview .content {
	--at-apply: flex flex-col gap-8 px-4;
}

.menu-item {
	--at-apply: hover: text-primary-600 cursor-pointer duration-200 decoration-none text-black font-barlow;
}

.header .sign-out {
	--at-apply: rounded;
}

.header .sign-out span {
	--at-apply: font-barlow font-medium text-base;
}
