.login-dialog {
	--at-apply: dialog-overview z-50 font-barlow font-regular;
}

.login-dialog .content {
	--at-apply: flex items-start flex-col;
}

.login-dialog .header {
	--at-apply: flex items-center justify-between w-full mb-2;
}

.login-dialog .title {
	--at-apply: text-2xl font-bold mb-1;
}

.login-dialog .header hot-icon {
	--at-apply: text-[1.5rem] text-neutral-500 cursor-pointer;
}

.login-dialog .subtitle {
	--at-apply: text-base mb-5 text-neutral-700;
}

.login-dialog .options {
	--at-apply: w-full flex flex-col gap-4 justify-items-center;
}

.login-dialog .option {
	--at-apply: option-card bg-neutral-50 text-neutral-700 p-3 border-1 border-solid border-white
		hover: border-primary-600 rounded-md duration-300 hover: text-primary-600 cursor-pointer text-sm flex items-start
		gap-3 group flex items-center;
}

.login-dialog .image {
	--at-apply: w-10;
}

.login-dialog .name-desc {
	--at-apply: flex flex-col;
}

.login-dialog .option-name {
	--at-apply: text-lg font-medium;
}
