.map-legend {
	--at-apply: flex-col gap-2;
}

.map-legend.open {
	--at-apply: flex;
}

.map-legend.closed {
	--at-apply: hidden;
}

.map-legend .title {
	--at-apply: font-semibold leading-0 text-lg mb-3;
}

.map-legend .entity-status {
	--at-apply: flex items-center gap-2;
}

.map-legend .entity-status .color {
	--at-apply: w-5 h-5 opacity-40 border-solid border-[1px] border-neutral-100;
}

.map-legend .entity-status .label {
	--at-apply: font-regular text-neutral-800 text-nowrap leading-0;
}

.map-legend .entity-status .ready {
	background-color: var(--entity-ready);
}

.map-legend .entity-status .opened-in-odk {
	background-color: var(--entity-opened-in-odk);
}

.map-legend .entity-status .submitted {
	background-color: var(--entity-validated);
}

.map-legend .entity-status .bad {
	background-color: var(--entity-marked-bad);
}
