.layer-switcher.open {
	--at-apply: 'block';
}

.layer-switcher.closed {
	--at-apply: 'hidden';
}

.layer-switcher .title {
	--at-apply: font-semibold text-lg mb-2;
}

.layer-switcher .content {
	--at-apply: grid grid-cols-3 w-full gap-3;
}

.layer-card {
	border: 2px solid white;
	--at-apply: h-[3.75rem] relative overflow-hidden rounded-md cursor-pointer hover: border-red-600;
}
.layer-card:hover {
	border-color: var(--sl-color-primary-600);
	transition-duration: 200ms;
}

.layer-card.active {
	border-color: var(--sl-color-primary-600);
}

.layer-card img {
	--at-apply: w-full h-full object-cover;
}

.layer-card .name {
	--at-apply: absolute top-0 left-0 bg-white bg-opacity-80 px-1 rounded-br text-sm;
}
