.map {
	--at-apply: flex-auto w-full sm: aspect-video h-[calc(100%-4rem)];
}

.map .control {
	--at-apply: flex flex-col gap-y-2;
}

.map .control .icon {
	--at-apply: text-[1.2rem] cursor-pointer duration-200 text-black;
}

.map .control .content {
	--at-apply: rounded-full w-[2.25rem] h-[2.25rem] overflow-hidden flex items-center justify-center border-1
		border-solid border-primary-600 bg-primary-50;
}

.map .control .offline-sync-percent {
	--at-apply: flex items-center justify-center border-1 border-solid border-primary-600 bg-white text-primary-600;
}

.map .control .sync-button {
	--at-apply: text-[1.25rem] rotate-90 text-primary-600 bg-white;
}

.map .control .basemap-icon {
	--at-apply: w-[2.25rem] h-[2.25rem] rounded-full;
	border: 1px solid var(--sl-color-primary-600);
}

.map .control .toggle-legend {
	--at-apply: group text-nowrap cursor-pointer;
}

.map .control .layer-switcher {
	--at-apply: cursor-pointer;
}

.map .control .toggle-legend .icon {
	border: 1px solid var(--sl-color-neutral-100);
	--at-apply: text-[1.7rem] text-neutral-950 bg-white p-1 rounded-full group-hover: text-primary-600 duration-200;
}

.map .help-text {
	--at-apply: absolute top-7 min-w-[14rem] z-10 left-[50%] translate-x-[-50%] p-1;
}

.map .help-text p {
	--at-apply: uppercase font-barlow font-medium text-base;
}

.map .help-text-2 {
	--at-apply: absolute top-7 w-fit z-10 left-[50%] translate-x-[-50%] p-1;
}

.map .help-text-2 p {
	--at-apply: uppercase font-barlow font-medium text-base;
}

.map-control-container {
	--at-apply: font-barlow flex justify-center w-[100vw] absolute left-0 z-20 duration-400 pointer-events-none;
}

.map-control-container.selected {
	--at-apply: bottom-[4rem];
}

.map-control-container.not-selected {
	--at-apply: -bottom-[100%];
}

.map-control-container .wrapper {
	--at-apply: bg-white w-full font-regular md: max-w-[580px] px-4 py-3 sm: py-4 rounded-t-3xl pointer-events-auto;
}

.map-control-container .icon-container {
	--at-apply: flex justify-end;
}
.map-control-container .icon {
	--at-apply: text-[1.5rem] text-neutral-800 cursor-pointer hover: text-primary-600 duration-200;
}

.select-entities-modal {
	--at-apply: font-barlow flex justify-center w-[100vw] absolute bottom-[4rem] left-0 pointer-events-none z-50;
}

.select-entities-modal .content {
	--at-apply: bg-white w-full font-regular md: max-w-[580px] pointer-events-auto px-4 py-3 sm: py-4 rounded-t-3xl
		max-h-[60vh] overflow-y-scroll;
}

.select-entities-modal .content .entity {
	--at-apply: border-b border-b-solid border-neutral-300 flex flex-col py-3;
}

.select-entities-modal .content .entity .button-wrapper {
	--at-apply: flex gap-2;
}

.select-entities-modal .icon {
	--at-apply: flex justify-end;
}

.select-entities-modal .icon hot-icon {
	--at-apply: text-[1.5rem] text-neutral-800 cursor-pointer hover: text-primary-600 duration-200;
}

.select-entities-modal .header {
	--at-apply: flex justify-between px-2 pb-1;
}

.select-entities-modal .header .status {
	--at-apply: px-2 border-1 border-solid rounded-full text-sm text-nowrap;
}

.select-entities-modal .header .status.READY {
	color: var(--entity-ready);
}

.select-entities-modal .header .status.OPENED_IN_ODK {
	color: var(--entity-opened-in-odk);
}

.select-entities-modal .header .status.SURVEY_SUBMITTED {
	color: var(--entity-survey-submitted);
}

.select-entities-modal .header .status.MARKED_BAD {
	color: var(--entity-marked-bad);
}

.select-entities-modal .header .status.VALIDATED {
	color: var(--entity-validated);
}
