.more {
	--at-apply: font-barlow font-medium;
}

.more-comment {
	--at-apply: h-full;
}

.more-no-comment {
	--at-apply: h-fit;
}

.more .stack {
	--at-apply: group flex items-center justify-between hover: bg-neutral-50 rounded-md p-2 duration-200 cursor-pointer;
}

.more .stack .icon-title {
	--at-apply: flex items-center gap-3;
}

.more .stack .icon-title .icon {
	--at-apply: text-[1.25rem];
}

.more .stack .icon-next {
	--at-apply: text-[1rem] group-hover: translate-x-1 duration-200;
}

.active-stack-header {
	--at-apply: flex items-center gap-x-2 sticky -top-1 bg-white pb-2 z-50;
}

.active-stack-header .icon {
	--at-apply: text-[1rem] hover: -translate-x-[2px] duration-200 cursor-pointer text-[1.125rem] text-black duration-200;
}
.active-stack-header .title {
	--at-apply: text-[1.125rem] font-semibold;
}

.active-stack-instructions {
	--at-apply: flex justify-center mt-10;
}

.active-stack-instructions p {
	--at-apply: text-neutral-900 text-base;
}
