/* font barlow */
.font-barlow {
	font-family: 'Barlow', system-ui;
}

/* override default scrollbar */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: none;
}
::-webkit-scrollbar-thumb {
	background: var(--sl-color-neutral-100);
	border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--sl-color-neutral-200);
}

p,
h5 {
	margin: 0px;
}

.spinner-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	min-height: 100%;
}

.loading-spinner {
	font-size: 5rem;
	--track-width: 1rem;
}
