.pagination {
	--at-apply: bottom-0 flex items-center justify-between flex-col sm: flex-row bg-white py-2 px-11 shadow-black
		shadow-2xl z-50 gap-1 box-border;
}

.pagination .showing-count {
	--at-apply: text-[0.75rem] leading-normal font-normal text-neutral-900;
}

.pagination .content {
	--at-apply: flex flex-wrap justify-center gap-x-6 gap-y-1;
}

.pagination .goto-page {
	--at-apply: flex flex-1 items-center justify-center gap-2 md: pr-6;
}

.pagination .goto-page .title {
	--at-apply: text-[0.75rem] leading-normal font-normal whitespace-nowrap text-neutral-900;
}

.pagination .goto-page .input {
	--at-apply: body-md outline-none border border-neutral-100 rounded-lg w-8 h-8 p-1;
}

.pagination .actions {
	--at-apply: flex items-center gap-2 overflow-x-auto max-sm: w-[100%] max-sm: justify-center;
}

.pagination .actions .page {
	--at-apply: w-5 h-5 min-w-5 min-h-5 rounded-full flex items-center justify-center border-[0px];
}

.pagination .actions .current-page {
	--at-apply: cursor-not-allowed text-neutral-200;
}

.pagination .actions .not-current-page {
	--at-apply: hover: bg-primary-50 duration-100 hover: text-primary-900;
}

.pagination .actions button hot-icon {
	--at-apply: text-[0.8rem] text-primary-900 cursor-pointer;
}

.pagination .page-num-dots {
	--at-apply: text-[0.75rem] leading-normal font-normal-regular text-black-600;
}

.pagination .page-num-wrapper {
	--at-apply: grid h-8 cursor-pointer place-items-center px-3;
}

.pagination .page-num {
	--at-apply: text-[0.75rem] leading-normal font-normal;
}

.pagination .page-num.first-page {
	--at-apply: font-bold text-primary-600;
}

.pagination .page-num.not-first-page {
	--at-apply: texy-neutral-900 text-neutral-950;
}

.pagination .next-button {
	--at-apply: w-5 h-5 min-w-5 min-h-5 rounded-full flex items-center justify-center border-[0px];
}

.pagination .next-button.last-page {
	--at-apply: cursor-not-allowed text-neutral-200;
}

.pagination .next-button.not-last-page {
	--at-apply: hover: bg-primary-50 duration-100 hover: text-primary-900;
}

.pagination .next-button hot-icon {
	--at-apply: text-[0.8rem] text-primary-900 cursor-pointer;
}
