.project-summary {
	--at-apply: box-border h-[16rem] bg-white rounded-lg p-4 flex flex-col justify-between rounded-lg;
}

.project-summary .skeleton-section {
	--at-apply: my-3;
}

.project-summary .skeleton1 {
	--at-apply: w-8 h-8 rounded-full;
}

.project-summary .skeleton2 {
	--at-apply: w-8 h-[14px] rounded-full mb-1;
}

.project-summary .skeleton3 {
	--at-apply: w-[80px] h-[14px] rounded-full;
}

.project-summary .skeleton4 {
	--at-apply: w-14 h-[14px] rounded-full mb-1;
}

.project-summary .skeleton5 {
	--at-apply: w-full h-[14px] rounded-full;
}

.project-summary .skeleton6 {
	--at-apply: w-full h-[14px] rounded-full my-1;
}

.project-summary .skeleton7 {
	--at-apply: w-[50%] h-[14px] rounded-full;
}

/* Project card */

.project-card {
	--at-apply: hover: bg-primary-50 hover: shadow-xl duration-500 rounded-lg bg-white p-4 cursor-pointer;
}

.project-card .content {
	--at-apply: flex flex-col justify-between h-full;
}

.project-card .content {
	--at-apply: flex flex-col justify-between h-full;
}

.project-card .logo {
	--at-apply: h-7 max-h-7;
}

.project-card .meta1 {
	--at-apply: my-3;
}

.project-card .meta1 .project-id {
	--at-apply: text-[0.75rem] leading-[0.9rem] font-semibold text-neutral-600 mb-1;
}

.project-card .meta1 .project-location {
	--at-apply: capitalize text-[0.75rem] leading-normal font-normal line-clamp-1 text-neutral-600;
}

.project-card .meta2 .project-name {
	--at-apply: text-[0.875rem] leading-normal font-semibold text-neutral-1000 line-clamp-1 capitalize mb-1;
}

.project-card .meta2 .project-short-desc {
	--at-apply: text-[0.875rem] leading-normal font-normal capitalize line-clamp-3 text-neutral-950 min-h-[3.2rem];
}

.project-card .meta0 {
	--at-apply: flex justify-between;
}

.project-card .meta0 .project-status {
	--at-apply: px-3 py-1 rounded-full text-[0.75rem] font-semibold;
}

.project-card .meta0 .project-status.DRAFT {
	--at-apply: text-[#616161] border-[1px] border-solid border-[#616161];
}
.project-card .project-status.PUBLISHED {
	--at-apply: text-[#417EC9] border-[1px] border-solid border-[#417EC9];
}
.project-card .project-status.COMPLETED {
	--at-apply: text-[#80D89F] border-[1px] border-solid border-[#80D89F];
}
.project-card .project-status.ARCHIVED {
	--at-apply: text-[#C61231] border-[1px] border-solid border-[#C61231];
}
