.project-info-name {
	--at-apply: text-lg text-neutral-950 font-semibold mb-6 mt-3;
}

.project-info {
	--at-apply: flex flex-col gap-3;
}

.project-info .description-title {
	--at-apply: text-base text-primary-600 font-semibold;
}

.project-info .description {
	--at-apply: text-sm text-neutral-950 font-regular;
}

.project-info .description-list {
	--at-apply: flex flex-col gap-2;
}

.project-info .description-item {
	--at-apply: grid grid-cols-2;
}

.project-info .description-key {
	--at-apply: text-sm text-neutral-950 font-regular;
}
.project-info .description-value {
	--at-apply: text-sm text-neutral-1000 font-semibold;
}
.project-info .description-value span {
	--at-apply: px-2;
}
