.qr-code {
	--at-apply: font-barlow flex flex-col items-center p-4 space-y-4;
}

.qr-code .title-wrapper {
	--at-apply: text-center w-full;
}

.qr-code .title {
	--at-apply: text-lg font-medium;
}

.qr-code .title-text {
	--at-apply: mr-1;
}

.qr-code .title .hot-icon {
	--at-apply: text-[14px] text-primary-900 cursor-pointer duration-200 scale-[1.5];
}

.qr-code-container {
	--at-apply: flex justify-center w-full max-w-sm;
}

.qr-code-container hot-qr-code {
	--at-apply: p-4 bg-white m-4;
}

.qr-code .download-button {
	--at-apply: secondary w-full max-w-[200px];
}

.qr-code .download-button hot-icon {
	--at-apply: text-[1rem] text-primary-900 cursor-pointer duration-200;
}

.qr-code .download-button span {
	--at-apply: font-barlow font-medium text-base uppercase;
}
