:root {
	--nav-height: 4rem;
}

/* Main page*/

.main-page {
	position: relative;
	--at-apply: h-[calc(100svh-3.699rem)] sm: h-[calc(100svh-4.625rem)] font-barlow;
}

/* Tags */

sl-tab-group::part(body) {
	display: var(--panel-display);
	position: fixed;
	bottom: var(--nav-height);
	width: 100%;
	height: calc(80vh - var(--nav-height));
	min-height: 25vh;
	max-height: 90vh;
	background-color: rgba(255, 255, 255, 1);
	overflow: auto;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	z-index: 100; /* Map is using z-index 10 */
}

sl-tab-group::part(nav) {
	display: flex;
	justify-content: center;
	background-color: var(--hot-white);
	height: var(--nav-height);
	background-color: white;
}

sl-tab {
	padding-left: 3vw;
	padding-right: 3vw;
}

sl-tab hot-icon {
	font-size: 2rem;
}

/* Notifications */

.floating-msg {
	padding: 0.3rem;
	--at-apply: absolute z-10 top-15sm top-18.8 right-0 font-sans flex bg-white text-black bg-opacity-70 text-sm
		sm: text-base px-1 rounded-bl-md;
}

/* Alert Message */

.alert-msg {
	--at-apply: absolute top-25 z-50 left-0 right-0 mx-5;
}

.alert-msg sl-alert {
	padding: 0;
}

.alert-msg sl-icon {
	--at-apply: mb-auto mt-7 animate-pulse;
}

.alert-msg .content {
	--at-apply: mt-3 ml-auto w-fit;
}

.alert-msg sl-button {
	--at-apply: link-gray w-fit;
}

.alert-msg sl-button span {
	--at-apply: font-barlow font-medium text-xs uppercase;
}

/* Proceed Dialog */

.proceed-dialog {
	--at-apply: absolute top-8 left-0 right-0 z-20 flex items-center justify-center pointer-events-none;
}

.proceed-dialog-content {
	--at-apply: pointer-events-auto bg-white px-4 py-2 rounded-md shadow-lg w-fit max-w-[65%];
}

.proceed-dialog p {
	--at-apply: mb-2;
}

.proceed-dialog .buttons {
	--at-apply: flex gap-2 justify-end;
}

.proceed-dialog .button {
	--at-apply: w-fit;
}

.proceed-dialog .button span {
	--at-apply: font-barlow font-medium text-xs uppercase;
}

/* QR Code */

.map-qr {
	--at-apply: w-full max-w-[200px];
}

.map-qr sl-button span {
	--at-apply: font-barlow font-medium text-base uppercase;
}

/* Dialogs */

.dialog-overview {
	width: fit;
	--body-spacing: 0.5rem;
}

.dialog-overview .content {
	--at-apply: flex flex-col gap-[0.5rem];
}

.dialog-overview .content img {
	--at-apply: h-[70vh];
}

.dialog-overview .content button {
	--at-apply: w-fit ml-auto;
}

.dialog-overview .content button span {
	--at-apply: font-barlow font-medium text-SM uppercase;
}

.dialog-overview .manual-qr-gif {
	border: 1px solid var(--sl-color-neutral-200);
}

/* Drawer */

.web-forms-drawer {
	--panel-display: none;
	--at-apply: z-9999 fixed bottom-0 left-0 right-0;
}

.web-forms-drawer sl-tab hot-icon {
	--at-apply: text-[1.7rem] sm: text-[2rem];
}

.bottom-sheet-header {
	--at-apply: mb-2 font-bold text-lg;
}
