# Copyright (c) 2022, 2023 Humanitarian OpenStreetMap Team
# This file is part of FMTM.
#
#     FMTM is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     FMTM is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with FMTM.  If not, see <https:#www.gnu.org/licenses/>.
#

networks:
  fmtm-net:
    name: fmtm-${GIT_BRANCH:-local}

services:
  frontend-tunnel:
    image: "docker.io/cloudflare/cloudflared:2024.10.1"
    depends_on:
      proxy:
        condition: service_healthy
    networks:
      - fmtm-net
    restart: "unless-stopped"
    command: tunnel --url http://proxy:80

  api-tunnel:
    image: "docker.io/cloudflare/cloudflared:2024.10.1"
    depends_on:
      api:
        condition: service_healthy
    networks:
      - fmtm-net
    restart: "unless-stopped"
    command: tunnel --url http://api:8000

  central-tunnel:
    image: "docker.io/cloudflare/cloudflared:2024.10.1"
    depends_on:
      central:
        condition: service_healthy
    networks:
      - fmtm-net
    restart: "unless-stopped"
    command: tunnel --url http://central:8383

  s3-tunnel:
    image: "docker.io/cloudflare/cloudflared:2024.10.1"
    depends_on:
      s3:
        condition: service_healthy
    networks:
      - fmtm-net
    restart: "unless-stopped"
    command: tunnel --url http://s3:9000
