body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.sweet-loading {
  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.notFound {
  height: 93vh;
  overflow: auto;
}

.btnLogin {
  width: 100px;
}

.dropdown {
  width: 100%;
}

.dropdown-item {
  width: 100%;
}

.dropdown-trigger {
  width: 100%;
}

button {
  width: 100%;
}

.leaflet-container {
  width: '100%';
  height: 100vh;
}

.content {
  height: 81vh;
  overflow: auto;
  padding: 5px;
}

@font-face {
  font-family: 'Barlow';
  font-weight: 800;
  src:
    local('Barlow'),
    url('./assets/fonts/Barlow/BarlowSemiCondensed-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  src:
    local('Barlow'),
    url('./assets/fonts/Barlow/BarlowSemiCondensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  src:
    local('Barlow'),
    url('./assets/fonts/Barlow/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: 500;
  src:
    local('Barlow'),
    url('./assets/fonts/Barlow/BarlowSemiCondensed-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: 400;
  src:
    local('Barlow'),
    url('./assets/fonts/Barlow/BarlowSemiCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: 300;
  src:
    local('Barlow'),
    url('./assets/fonts/Barlow/BarlowSemiCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: 200;
  src:
    local('Barlow'),
    url('./assets/fonts/Barlow/BarlowSemiCondensed-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: 100;
  src:
    local('Barlow'),
    url('./assets/fonts/Barlow/BarlowSemiCondensed-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'ArchivoBold';
  src:
    local('ArchivoBold'),
    url('./assets/fonts/Archivo/Archivo/Archivo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ArchivoRegular';
  src:
    local('ArchivoRegular'),
    url('./assets/fonts/Archivo/Archivo/Archivo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ArchivoMedium';
  src:
    local('ArchivoMedium'),
    url('./assets/fonts/Archivo/Archivo/Archivo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ArchivoLight';
  src:
    local('ArchivoLight'),
    url('./assets/fonts/Archivo/Archivo/Archivo-Light.ttf') format('truetype');
}

.swiper-button-next,
.swiper-button-prev {
  color: #44546a !important;
  fill: #44546a !important;
  stroke: #44546a !important;
}

.legend-container {
  background-color: white;
  width: 14rem;
  padding: 7px;
  margin: 250px 10px;
  border-radius: 4px;
  @media only screen and (max-width: 640px) {
    display: none;
  }
}

.legend {
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-between;
}

.legend-text {
  margin-right: 10px;
}

.legend-square {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.submission-item {
  text-decoration: none;
}
.submission-item:hover {
  background-color: rgba(215, 63, 62, 0.04);
  border: 1px solid #d73f3e;
  border-radius: 10px;
}

.currentstep-pointer {
  animation: pulse 2s infinite;
}
.fmtm-progress-indicator {
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;

  animation: move 2s linear infinite;
}

.layer-switcher .panel .layer-switcher-base-group .layer {
  display: flex;
  align-items: center;
}
.layer-switcher li input {
  left: 0 !important;
}
.layer-switcher li label {
  padding-left: 1.5em !important;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(244, 22, 22, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(244, 157, 22, 0.8);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0.8);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgb(244, 22, 22);
    box-shadow: 0 0 0 0 rgba(244, 22, 22);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
    box-shadow: 0 0 0 10px rgba(244, 157, 22, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
    box-shadow: 0 0 0 0 rgba(244, 157, 22, 0);
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

/* react-date-picker */
.react-datepicker-popper {
  z-index: 9000;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #d73f3e !important;
}
.react-datepicker__day--in-selecting-range {
  background-color: #df6565 !important;
}
.react-datepicker__day--selected:hover {
  background-color: #bc2c2c !important;
}
.react-datepicker__day--keyboard-selected {
  background-color: #fcc2c2 !important;
}

/* remove counter on input type of number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
