@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.sweet-loading {
  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.notFound {
  height: 93vh;
  overflow: auto;
}

.btnLogin {
  width: 100px;
}

.dropdown {
  width: 100%;
}

.dropdown-item {
  width: 100%;
}

.dropdown-trigger {
  width: 100%;
}

button {
  width: 100%;
}

.leaflet-container {
  width: '100%';
  height: 100vh;
}

.content {
  height: 81vh;
  overflow: auto;
  padding: 5px;
}

@font-face {
  font-family: 'BarlowBold';
  src:
    local('BarlowBold'),
    url('./assets/fonts/Barlow/Barlow-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'BarlowMedium';
  src:
    local('BarlowMedium'),
    url('./assets/fonts/Barlow/Barlow-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ArchivoBold';
  src:
    local('ArchivoBold'),
    url('./assets/fonts/Archivo/Archivo/Archivo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ArchivoRegular';
  src:
    local('ArchivoRegular'),
    url('./assets/fonts/Archivo/Archivo/Archivo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ArchivoMedium';
  src:
    local('ArchivoMedium'),
    url('./assets/fonts/Archivo/Archivo/Archivo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'ArchivoLight';
  src:
    local('ArchivoLight'),
    url('./assets/fonts/Archivo/Archivo/Archivo-Light.ttf') format('truetype');
}

.swiper-button-next,
.swiper-button-prev {
  color: #44546a !important;
  fill: #44546a !important;
  stroke: #44546a !important;
}

.legend-container {
  background-color: white;
  width: 14rem;
  padding: 7px;
  margin: 250px 10px;
  border-radius: 4px;
  @media only screen and (max-width: 640px) {
    display: none;
  }
}

.legend {
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: space-between;
}

.legend-text {
  margin-right: 10px;
}

.legend-square {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.submission-item {
  text-decoration: none;
}
.submission-item:hover {
  background-color: rgba(215, 63, 62, 0.04);
  border: 1px solid #d73f3e;
  border-radius: 10px;
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .scrollbar::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: transparent;
      margin-block: 6px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
      background: #bdbdbd;
      border-radius: 100vh;
      padding-inline: 4px;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #bdbdbd;
    }
  }
}

.show-modal {
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 15px 22px;
  background: #4a98f7;
  transition: 0.3s ease;
  box-shadow: 0 10px 18px rgba(52, 87, 220, 0.18);
}
.show-modal:hover {
  background: #2382f6;
}
.bottom-sheet {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.1s linear;
}
.bottom-sheet.show {
  opacity: 1;
  pointer-events: auto;
}
.bottom-sheet .content {
  width: 100%;
  position: relative;
  background: #fff;
  max-height: 100vh;
  height: 50vh;
  max-width: 1150px;
  padding: 25px 15px;
  transform: translateY(100%);
  border-radius: 12px 12px 0 0;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03); */
  transition: 0.3s ease;
  overflow: hidden;
}
.bottom-sheet.show .content {
  transform: translateY(0%);
}
.bottom-sheet.dragging .content {
  transition: none;
}
.bottom-sheet.fullscreen .content {
  border-radius: 0;
}
.bottom-sheet .header {
  display: flex;
  justify-content: center;
}
.header .drag-icon {
  cursor: grab;
  user-select: none;
  padding: 15px;
  margin-top: -15px;
  z-index: 9999px;
}
.header .drag-icon span {
  height: 4px;
  width: 40px;
  display: block;
  background: #c7d0e1;
  border-radius: 50px;
}
.bottom-sheet .body {
  height: 100%;
  padding: 1px;
}
